* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}

/*
Extra bold 48 Titulo Saludos.
bold 36,28,18,16 Titulo Personal info y need help
semibold 22,18,16 
medium 19,18 
regular 17,16 
*/

/*Edicciones generales*/
h1 {
    font-weight: 800;
    font-size: 3em; /*48px*/
    text-transform: uppercase;
}

h2 {
    font-weight: 600 bold;
    font-size: 1.375em; /*22px*/
    text-transform: uppercase;
}

h3 {
    font-weight: 500;
    font-size: 1.188em; /*19px*/
    text-transform: uppercase;
}

p {
    font-weight: 400;
    font-size: 1.063em; /*17px*/
}

a {
    font-size: 400;
    font-size: 1em; /*16px*/
    color: #000;
}

hr {
    color: #c6c6c6;
}


.alert{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 5px 0;
}


.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.headerExclusive {
    min-width: 130px;
    height: 35px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #000;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.headerExclusive:hover {
    background: #fff;
    color: #000;
}

.headerExclusive:focus{
    background-color: #fff;
    color: #000;
}

.colorSpecial {
    color: #c6c6c6;
}

.logo img{
    height: 100px;
}

.phoneHeader{
    display: none;
}

.shop{
    display: none;
}

.btnCategoryTwo {
    display: none;
}

.containerHeader > nav{
    display: none;
    align-items: center;
    gap: 2rem;
}

.bag{
    display: none;
}

.bagMenu{
    display: none;
}

/*fin de edicciones generales*/

/*ediccion header*/
.containerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.logoHeader{
    display: flex;
    align-items: center;
}

.logoHeader img {
    height: 100px;
}

.logoHeader p {
    font-weight: 600;
}

.horizontalMenu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.horizontalMenu > li > a {
    display: block;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
}

.horizontalMenu > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
  
.horizontalMenu > li > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.verticalMenu{
    position: absolute;
    display: none;
    list-style: none;
}

.horizontalMenu li:hover .verticalMenu{
    display: block;
}

.verticalMenu > li > a {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
}

.verticalMenu > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
  
.verticalMenu > li > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.menuHeader{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}

.search{
    display: flex;
    align-items: center;
    border: 2px solid #2a2a2a;
    border-radius: 5px;
    padding: 0px 15px;
    height: 40px;
    width: 40%;
    transition: all 0.5s ease;
}

.search:hover{
    width: 100%;
    transition: all 0.5s ease;
}

.search:focus{
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
    width: 100%;
}

.formSearch{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.formSearch > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.iconSearch{
    color: #2a2a2a;
    font-size: 1.2em;
}

.formSearch > input{
    height: 30px;
    width: 100%;
    border: none;
    transition: all 0.3s ease;
    background-color: transparent;
    text-align: left;
}

.formSearch > input:hover{
    width: 100%;
    text-align: right;
    transition: all 0.3s ease;
}

.formSearch > input:focus{
    text-align: left;
    outline: none;
    border: none;
    transition: all 0.3s ease;
}

/*Configuracion del menu hamburguesa*/
/*Header del menu hamburguesa*/
.menuHamburger > button {
    padding: 3px 10px;
    background-color: transparent;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    cursor: pointer;
    /*position: relative;*/
    display: inline-block;
    outline: none;
    transition: all 0.3s ease;
}
  
.menuHamburger > button:hover{
    border: 2px solid #b8b8b8;
}
  
.iconMenu:hover{
    color: #b8b8b8;
}
  
.iconMenu{
    font-size: 1.5rem;
    color: #1a1a1a;
}

.hamburgerMenu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    /*bottom: 0;*/
    background-color: #fff;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    opacity: 0;
    visibility:hidden;
    transition: all 0.5s ease;
    padding: 0px;
    width: 100%;
    /*z-index: 999;*/
}

.hamburgerMenu.visible{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
}

.hamburgerContainerHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;*/
}

.logoHeaderHamburger{
    display: flex;
    align-items: center;
}

.logoHeaderHamburger img{
    height: 100px;
}

.btnHamburguer{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.btnTraslate button {
    min-width: 130px;
    height: 40px;
    color: #1a1a1a;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 4px 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #2a2a2a;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnTraslate button:hover{
    background-color: #2a2a2a;
    color: #fff;
}

.btnDollar button {
    min-width: 130px;
    height: 40px;
    color: #1a1a1a;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 4px 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #2a2a2a;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnDollar button:hover{
    background-color: #2a2a2a;
    color: #fff;
}

/*fin de la ediccion del header del menu hamburguesa*/

/*ediccion del contenido del menu hamburguesa*/
.containerHamburgerContent{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    width: 100%;
    /*display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    width: 95%;*/
}

.element {
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #c6c6c6;
    width: 100%;
    /*display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #c6c6c6;*/
}

.img img{
    height: 20vh;
    border-radius: 5px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
   /* display: flex;
    align-items: center;
    justify-content: space-between;
    width: 58%;*/
}

.section > a{
    position: relative;
    text-decoration: none;
    font-size: 1.375em;
    font-weight: 700;
}

.section > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
  
.section >  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.section button {
    background: #fff;
    border: none;
    cursor: pointer;
    /*background-color: transparent;
    border: none;
    cursor: pointer;*/
}


.arrow-right{
    font-size: 2em;
}
/*fin de la ediccion del contenido del menu hamburguesa*/

/*ediccion del "footer" del menu hamburguesa*/
.footerHamburgerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
   /* display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;*/
}

.textFooter{
    display: none;
}

.iconFooter button{
    width: 90px; 
    height: 90px; 
    background-color: transparent;
    color: #000;
    border: none; 
    border-radius: 50%; 
    text-align: center; 
    font-size: 1.5em; 
    line-height: 90px; 
    cursor: pointer;  
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

.iconFooter button:hover{
    background-color: #000;
    color: #fff;
}
/*fin de la ediccion del "footer" del munu hamburguesa*/

/*Ediccion del boton del carrito*/
.bag > button{
    padding: 3px 10px;
    background-color: transparent;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    outline: none;
    transition: all 0.3s ease;
}
  
.bag > button:hover{
      border: 2px solid #b8b8b8;
}
  
.iconBag{
      font-size: 1.5rem;
      color: #1a1a1a;
}
  
.iconBag:hover{
      color: #b8b8b8;
}
  
.alertBag > li{
      list-style: none;
      display: none;
      position: absolute;
      background-color: #fff;
      padding: 15px;
}
  
.alertBag > li > p {
      color: #000;
      font-weight: 600;
}
  
/*menu bag*/
.bagMenu{
      display: flex;
      flex-direction: column;
      justify-content: space-between ;
      padding: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      background-color: #fff;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
      transition: all 0.5s ease;
      position:fixed;
}
  
.bagMenu.visible{
      opacity: 1;
      visibility: visible;
      transition: all 0.5s ease;
}
  
  
.bagContainerHeader{
      display: flex;
      flex-direction: column;
}
  
  
.productBagMenu{
      display: flex;
      align-items: center;
}
  
.imageMenuBag img{
      height: 25vh;
}
  
.priceProductBagMenu{
      display: flex;
      align-items: center;
      gap: 1rem;
}
  
.bagContainerMainTwo{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
  
.bagContainerHeader > button{
      width: 90px; 
      height: 90px; 
      background-color:transparent;
      color: #000;
      border: none; 
      border-radius: 50%; 
      text-align: center; 
      font-size: 1.5em; 
      line-height: 90px; 
      cursor: pointer;  
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      outline: none;
}
  
.bagContainerHeader button:hover{
      background-color: #000;
      color: #fff;
}
  
.specialTextBagMenu p{
      color: #E32B2B;
}
  
  
.bagContainerFooter button {
      height: 40px;
      width: 100%;
      background-color: #fff;
      border: 2px solid #2a2a2a;
      border-radius: 5px;
      color: #000;
      font-size: 0.9em;
      cursor: pointer;
      transition: all 0.3s ease;
}
  
.bagContainerFooter button:hover {
      background: #2a2a2a;
      color: #fff;
      transition: all 0.3s ease;
}
  
/*fin de la ediccion del boton bag y 
fin de la ediccion del header*/

/*fin de la ediccion header*/

/*Ediccion de la seccion inicio*/
.container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    gap: 1rem;
}

.infoPersonal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    padding: 20px 0;
}

.navInfoPersonal{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navInfoPersonal > a {
    text-decoration: none;
    font-size: 1.188em;
    font-weight: 500;
    color: #c6c6c6;
    transition: all 0.3s ease;
}


.navInfoPersonal > a:hover{
    color: #000;
    transition: all 0.3s ease;
}

.title{
    display: none;
}

.colorSpecial {
    color: #c6c6c6;
}

.usernameTitle{
    padding: 30px 0;
}

.titleSpecial {
    -webkit-text-stroke: 2px #000;
    color: transparent;
}

.headerImg{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btnCategoryOne{
    min-width: 130px;
    height: 40px;
    color: #1a1a1a;
    font-weight: 500;
    text-align: center;
    font-size: 1.2em;
    padding: 4px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #2a2a2a;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btnCategoryOne:hover{
    color: #b8b8b8;
    border: 2px solid #b8b8b8;
    transition: all 0.3s ease;
}

.btnCategoryOne:focus{
    color: #b8b8b8;
    border: 2px solid #b8b8b8;
    transition: all 0.3s ease;
}

/*fin de la ediccion de inicio*/

/*ediccion de la seccion de los productos*/


/*ARREGLAR LOS CONTENEDORES DE LOS
PRODUCTOS PARA QUE SEA UN CONTENEDOR
DE 2 PRODUCTOS*/
.productOne{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productTwo{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.containerSmallProduct{
    display: flex;
    flex-direction: column;
}

.smallProductOne{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.smallProductTwo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.smallPOne img{
    width: 100%;
    border-radius: 5px;
}

.infoSmallP{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.nameProduct > a {
    text-decoration: none;
}

.categoryProduct p {
    color: #c6c6c6;
}

.containerBigProduct{
    display: flex;
    flex-direction: column;
}

.containerBigProduct img{
    width: 100%;
    border-radius: 5px;
}


.containerCounter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.counter{
    display: flex;
    align-items: center;
    gap: 0.8rem;

}

.pageCounter p {
    font-size: 1.3em;
}

.backNumber{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.arrowCounter{
    font-size: 1.4em;
}

.ofNumber{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

/*Edicion del foooter*/

.containerFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.infoFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo p {
    font-weight: 600;
}

.logo img {
    height: 100px;
}

.derechos {
    display: none;
}

.btnFooter button{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.188em;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.lineaFooter {
    color: #c6c6c6;
    width: 100%;
}

.linksFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 0.8rem;
    padding: 15px 0;
}

.lFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.linksFooter a {
    position: relative;
    text-decoration: none;
}
  
.linksFooter a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
  
.linksFooter a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.lineaFooterFinal{
    width: 100%;
}

.derechosFinal{
    padding: 15px 0px;
}
