@media screen and (min-width:1024px) {
    .containerHeader{
        width: 90%;
    }

    .containerHeader > nav{
        display: block;
    }

    .bag{
        display: block;
    }

    .hamburgerMenu{
        width:auto;
        padding: 2rem;
    }

    .containerHamburgerContent{
        width: auto;
    }

    .img img{
        height: 15vh;
    }

    .section{
        width: 50%;
    }

    .footerHamburgerContainer{
        width: auto;
    }

    .infoPersonal{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .text{
        display: flex;
        align-items: center;
        gap: 1rem;
        text-transform: uppercase;
        padding: 30px 0;
    }
    
    .navInfoPersonal{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .navInfoPersonal > a {
        text-decoration: none;
        font-size: 1.188em;
        font-weight: 500;
        color: #c6c6c6;
        transition: all 0.3s ease;
    }
    
    
    .navInfoPersonal > a:hover{
        color: #000;
        transition: all 0.3s ease;
    }

    .title{
        display: block;
    }
    
    .container{
        width: 90%;
    }

    .buttonCategoryContainer{
        display: flex;
        gap: 1rem;
    }

    .btnCategoryTwo{
        display: block;
        min-width: 130px;
        height: 40px;
        color: #1a1a1a;
        font-weight: 500;
        text-align: center;
        font-size: 1.2em;
        padding: 4px 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: 2px solid #2a2a2a;
        background: transparent;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .btnCategoryTwo:hover{
        color: #b8b8b8;
        border: 2px solid #b8b8b8;
        transition: all 0.3s ease;
    }

    .btnCategoryTwo:focus{
        color: #b8b8b8;
        border: 2px solid #b8b8b8;
        transition: all 0.3s ease;
    }

    .productOne{
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .containerSmallProduct{
        width: 60%;
        gap: 1rem;
    }

    .containerBigProduct{
        width: 56%;
    }

    .smallProductOne {
        flex-direction: row;
    }

    .smallProductTwo {
        flex-direction: row;
    }

    .productTwo{
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .containerFooter {
        width: 90%;
        margin: 0 auto;
       padding: 20px 0px;
    }
    
    .derechos {
        display: block;
    }
    
    .derechosFinal{
        display: none;
    }

    .lineaFooterFinal{
        display: none;
    }

    .linksFooter{
        flex-direction: row;
        justify-content: space-between;
        gap: 0rem;
        width: 100%;
    }

    .lFooter{
        display: flex;
        align-items: center;
        gap: 4rem;
        width:auto;
    }
}