@media screen and (min-width:768px) and (max-width:1023px){
    .containerHeader{
        width: 95%;
    }

    .hamburgerMenu{
        width: 100%;
    }

    .hamburgerContianerHeader{
        flex-direction: row;
        justify-content: space-between;
    }

    .containerHamburgerContent{
        width: 70%;
        margin: 0 auto;
    }

    .img img {
        height: 20vh;
    }

    .textFooter{
        display: block;
    }

    .footerHamburgerContainer{
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;

    }

    .bag{
        display: block;
    }


    .title{
        display: block;
    }

    .buttonCategoryContainer{
        display: flex;
        gap: 1rem;
    }

    .btnCategoryTwo{
        display: block;
        min-width: 130px;
        height: 40px;
        color: #1a1a1a;
        font-weight: 500;
        text-align: center;
        font-size: 1.2em;
        padding: 4px 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: 2px solid #2a2a2a;
        background: transparent;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .btnCategoryTwo:hover{
        color: #b8b8b8;
        border: 2px solid #b8b8b8;
        transition: all 0.3s ease;
    }

    .btnCategoryTwo:focus{
        color: #b8b8b8;
        border: 2px solid #b8b8b8;
        transition: all 0.3s ease;
    }

    .specialTextButton{
        display: none;
    }

    .productOne{
        gap: 1rem;
    }

    .productTwo{
        gap: 1rem;
    }

    .containerSmallProduct{
        gap: 0.5rem;
    }

    .smallProductOne{
        flex-direction: row;
    }

    .smallProductTwo{
        flex-direction: row;
    }

    .lineaFooterFinal{
        display: block;
        width: 100%;
    }

}